/* Selector de etiqueta */

body {
    background-color: white;
    margin: 0;
    padding: 0;
}
input{
    margin-top: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
label{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    background-color: #027cffe0;
}

button{
    margin-top: 12px;
    background-color: #027bff;
    width: 120px;
    text-align: center;
    padding: 10px 0px;
    color: white;
    border-radius: 3px;
    border: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#contenedor{
    width: 385px;
    background-color: white;
    margin: 40px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    border: 3px solid #3498db;
    background-color: #eff8ff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.seccion{
    font-weight: bold;
    text-align: left;
    margin-left: 3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.inputResultado{
    background-color: #ffffff00;
    border: 1px solid #ffffff00;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.txtParametros{
    width: 380px;
    font-size: 14px;
}
