/* Selector de etiqueta */

body {
    background-color: #f2e6cf;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    margin: 3px 0;
}

span{
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

input{
    width: 210px;
}

hr{
    border: 1px solid #00000019;
}

button{
    margin-top: 20px;
    background-color: #4a6eb0;
    font-size: 15px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    background-color: #4a6eb0da;
}

/* Selector de ID */

#contenedor {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 750px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #d6e8e9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#pie {
    text-align: center;
    margin-top: 10px;
    padding: 3px;
    background-color: #114c5f;
    color: white;
    border-radius: 0 0 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#encabezado {
    background-color: #114c5f;
    color: white;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px 10px 0 0;
}

/* Selector de clase */

.aside {
    background-color: #d6e8e9;
    padding-top: 20px;
    border-radius: 0 0 10px 10px;
}


.seccion{
    padding-top: 16px;
}

.contaside{
    padding-top: 10px;
    padding-bottom: 10px;
}

.titcalculos{
    background-color: #537b8f9e; /*75a0b59e*/
}