/* Selector de etiqueta */

body {
    background-color: #f9f6f3;
    margin: 0;
    padding: 0;
}
input{
    margin-top: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}


label{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: left;
    color: #5a3f22;
}

button:hover{
    background-color: #5a3f22e1;
}

button{
    margin-top: 12px;
    background-color: #5a3f22;
    width: 190.5px;
    text-align: center;
    padding: 10px 0px;
    color: white;
    border-radius: 6px;
    border: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#contenedor{
    width: 600px; /*385px*/
    height: 520px;
    background-color: white;
    margin: 40px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    border: 3px solid #850909;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
}


.imagen{
    flex: 1;
    background-image: url("");
    background-size:cover;
    background-position: center;
}


.seccion{
    font-weight: bold;
    text-align: left;
    margin-left: 3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    flex: 2;
}

.inputResultado{
    background-color: #ffffff00;
    border: 1px solid #ffffff00;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.txtParametros{
    width: 380px;
    font-size: 14px;
    border-radius: 8px;
}

.txtParametrosFinales{
    width: 380px;
    font-size: 14px;
    background-color: #ffffff00;
    border: 1px solid hsla(0, 0%, 100%, 0);
    font-weight: bold;
}
