*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8f7f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.p2{
    font-weight: bold;
    font-size: 15px;
}

.anuncio{
    font-size: 9px;
    color: #0000009b;
    font-style: italic;
}
#encabezado{
    margin-bottom: 15px;
    margin: 25px 0px 25px 0px;
}

#contenedor{
    width: 1000px;
    background-color: #e9ebe3;
    margin-top: 35px;
    border-radius: 9px;
    box-shadow: 0 0 10px #0000007f;
}

#contgen{
    display: flex;
}

#cont1{
    flex: 1;
    background-color: #ced0ca98;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 9px;
    padding: 7px;
}  

#cont2{
    flex: 2;
    background-color: #ced0ca98;
    margin-right: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 9px;
    padding: 7px;
}

label{
    background-color: #333333;
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
}

footer{
    padding: 25px 0px 25px 0px;
    font-size: 17px;
    border-radius: 0px 0px 9px 9px;
    background-color: #4d4761;
    color: white;
}

button{
    width: 380px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: #6f59b6;
    color: white;
    border-radius: 10px;
    border: 1px solid #00000000;    
}
button:hover{
    background-color: #6f59b6e2;
}

textarea{
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    padding: 10px 0 10px 0px;
    border: 1.5px solid black;
}

select{
    width: 116px;
    height: 22px;
    border: 1.5px solid black;
}

@media screen and (max-width: 812px) {
    label{
        font-size: 10px; 
    }
}

.btnlimp{
    width: 150px;
}