*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightblue;
}
img{
    height: 50px;
    width: 50px;
}

#contenedor{
    width: 400px;
    height: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000007f;
}

#encabezado{
    padding: 10px;
}

#opciones{
    padding: 10px;
}

#imagenes{
    padding: 10px;
}
button{
    height: 30px;
    width: 100px;
    margin: 15px;
    padding: 3px;
    font-size: 14px;
}
p{
    font-weight: bold;
}
select{
    font-size: 17px;
    padding: 3px;
}